*{
    font-family: sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
body
{
    height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.topnav {
    padding: 30px;
    border-bottom: 1px solid black;

}

#ADD {
    position: relative;
    right: 140px;
    float: right;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#cancel
{
    margin-right: 20px;
    float: right;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.topnav p.split {
    float: left;
    font-size: 30px;
}

#massDelete
{
    position: relative;
    right: -50px;
    float: right;
}

#submit
{
    float: right;
    margin: 0 15px;
}

.container
{
    margin: 0 0 0 0;
    max-width: 100%;
    padding: 15px 7%;
}

.container .box-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.container .box-container .box
{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 30px 20px;
    margin: 10px;
}

.container .box-container .box p{
    color: #444;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 5px;
}

.checkbox-position
{
    position: relative;
    float: left;
    top: -20px;
    left: 10px;
}

.formDiv #product_form
{
    padding: 50px;
}

#notification
{
    margin: 20px 0 20px 0;
}

footer{
    margin-top: auto;
    text-align: center;
    padding: 40px 0;
    border-top: 1px solid black;
}

@media screen and (max-width: 350px) {
 #ADD{
     margin-top: 50px;
 }
    #cancel{
        margin-bottom: 50px;
    }
}